# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Secrets and sensitive files
.env
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.app.json
!tsconfig.node.json
!firebase.json
!firestore.indexes.json
!capacitor.config.ts
!firestore.rules
!storage.rules
!.firebaserc
!eslint.config.js
!postcss.config.js
!tailwind.config.js
!vite.config.ts

# Firebase service accounts
*-firebase-adminsdk-*.json

